<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-language" content="en-us">
	<title>Recipes</title>		
	<link rel="stylesheet" href="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/glyphiconfallback6-min.css">
	<link rel="stylesheet" href="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/gx-stylev3-min.css">
	<link rel="stylesheet" href="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/theme-general.css">
	<link rel="stylesheet" href="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/styles.css">
</head>

<body style="background-color: #111;font-size: 14px;color:#fff;">
	<h1>POTIONS</h1>
	<table class="wiki_table sortable"> 
		<thead>
			<tr style="height: 100px;"> 
				<td> <h4>Final Product</h4> </td> 
				<td> <h4>Effect</h4> </td> 
				<td> <h4>Ingredient 1</h4> </td> 
				<td> <h4>Ingredient 2</h4> </td> 
			</tr> 
		</thead> 
		
		<tbody> 
		   <tr> 
			<td><img style="width: 25px; height: 25px;" title="minor_healing_potion" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/minor_healing_potion.webp" alt="minor_healing_potion">&nbsp;&nbsp;<a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Minor+Healing+Potion" target="">Minor Healing Potion</a></td> 
			<td>Heals 30 Vitality</td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img style="width: 25px; height: 25px;" title="emptyBottle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="emptyBottle" width="25" height="25"></a><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle" target="">&nbsp;Empty Potion Bottle</a></td> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Penny+Bun+Mushroom" target=""><img src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/Food_Penny_Bun_Mushroom_small.webp" alt="" width="25" height="25">&nbsp;Penny Bun Mushroom</a></td> 
		   </tr>
		   
		   <tr> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Medium+Healing+Potion" target=""><img style="width: 25px; height: 25px;" title="medium_healing_potion" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/medium_healing_potion.webp" alt="medium_healing_potion" width="25" height="25">&nbsp;Medium Healing Potion</a></td> 
			<td>Heals 120 Vitality</td> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Minor+Healing+Potion" target=""><img style="width: 25px; height: 25px;" title="minor_healing_potion" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/minor_healing_potion.webp" alt="minor_healing_potion">&nbsp;Minor Healing Potion</a></td> 
			<td> <p class=""><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Minor+Healing+Potion" target=""><img style="width: 25px; height: 25px;" title="minor_healing_potion" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/minor_healing_potion.webp" alt="minor_healing_potion">&nbsp;Minor Healing Potion</a><em> or </em><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Augmentor"><img src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/augmentorLow.png" alt="" width="25" height="25">Augmentor</a> (<em>A</em>ny Quality)</p> </td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Healing+Elixir" target=""><img style="width: 25px; height: 25px;" title="Healing Elixir" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/healing_elixir.webp" alt="Healing Elixir">Healing Elixir</a></td> 
			<td>Heals +80 Vitality. Removes certain status effects (negative and positive), Set Healing Elixir</td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img style="width: 25px; height: 25px;" title="emptyBottle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="emptyBottle" width="25" height="25">&nbsp;Empty Potion Bottle</a></td> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Yarrow+Flower" target=""><img style="width: 29px; height: 29px;" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/Yarrow_Flower.webp" alt="" width="25" height="25">&nbsp;Yarrow Flower</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Small+Physical+Armor+Potion" target=""><img style="width: nullpx; height: nullpx;" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/minorPhysical.png" alt="" width="25" height="26">Physical Armor Potion</a></td> 
			<td>26 Physical Armor (+5% per Geomancer level), 5 Turn Duration</td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img style="width: 25px; height: 25px;" title="emptyBottle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="emptyBottle" width="25" height="25">&nbsp;Empty Potion Bottle</a></td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Amadouvier"><img style="width: 25px; height: 25px;" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/Amadouvier.webp" alt="" width="25" height="25">&nbsp;Amadouvier</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Small+Magic+Armor+Potion" target=""><img src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/minorMagical.png" alt="" width="25" height="27">Small Magic Armor Potion</a></td> 
			<td>26 Magic Armor (+5% per Hydrosophist level), 5 Turn Duration</td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img style="width: 25px; height: 25px;" title="emptyBottle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="emptyBottle" width="25" height="25"></a> <a class="wiki_link" title="Empty Potion Bottle" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle">Empty Potion Bottle</a></td> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Whisperwood" target=""><img src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/whisperwood.png" alt="" width="25" height="27">Whisperwood</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Small+Fire+Resistance+Potion" target=""><img style="width: 25px; height: 25px;" title="Fire Resistance Potion" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/fire_resistance_potion.webp" alt="Fire Resistance Potion" width="25" height="25"></a><a class="wiki_link" title="Fire Resistance Potion" href="https://divinityoriginalsin2.wiki.fextralife.com/Fire+Resistance+Potion">Fire Resistance Potion</a></td> 
			<td>15% Fire Resistance for 3 turns</td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img style="width: 25px; height: 25px;" title="emptyBottle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="emptyBottle" width="25" height="25"></a> <a class="wiki_link" title="Empty Potion Bottle" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle">Empty Potion Bottle</a></td> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Guepinia+Mushroom" target=""><img src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/guepiniaMushroom.png" alt="" width="25" height="25">Guepinia Mushroom</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Small+Air+Resistance+Potion" target=""><img style="width: 25px; height: 25px;" title="Small Air Resistance Potion" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/small_air_resistance_potion.webp" alt="Small Air Resistance Potion" width="25" height="25"></a><a class="wiki_link" title="Air Resistance Potion" href="https://divinityoriginalsin2.wiki.fextralife.com/Air+Resistance+Potion">Air Resistance Potion</a></td> 
			<td>15% Air Resistance for 3 turns</td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img style="width: 25px; height: 25px;" title="emptyBottle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="emptyBottle" width="25" height="25"></a> <a class="wiki_link" title="Empty Potion Bottle" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle">Empty Potion Bottle</a></td> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Jellyroom" target=""><img style="width: 25px; height: 25px;" title="Jellyroom" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/jellyroom.webp" alt="Jellyroom" width="25" height="25">Jellyroom</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Small+Earth+Resistance+Potion" target=""><img style="width: 25px; height: 25px;" title="Earth Resistance Potion" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/earth_resistance_potion.webp" alt="Earth Resistance Potion" width="25" height="25"></a><a class="wiki_link" title="Earth Resistance Potion" href="https://divinityoriginalsin2.wiki.fextralife.com/Earth+Resistance+Potion">Earth Resistance Potion</a></td> 
			<td>15% Earth Resistance for 3 turns</td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img style="width: 25px; height: 25px;" title="emptyBottle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="emptyBottle" width="25" height="25"></a> <a class="wiki_link" title="Empty Potion Bottle" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle">Empty Potion Bottle</a></td> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Earth+Tongue+Mushroom" target=""><img src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/earthTongue.png" alt="" width="25" height="25">Earth Tongue Mushroom</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Small+Water+Resistance+Potion" target=""><img style="width: 25px; height: 25px;" title="Water Resistance Potion" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/water_resistance_potion.webp" alt="Water Resistance Potion" width="25" height="25"></a><a class="wiki_link" title="Water Resistance Potion" href="https://divinityoriginalsin2.wiki.fextralife.com/Water+Resistance+Potion">Water Resistance Potion</a></td> 
			<td>15% Water Resistance for 3 turns</td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img style="width: 25px; height: 25px;" title="emptyBottle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="emptyBottle" width="25" height="25"></a> <a class="wiki_link" title="Empty Potion Bottle" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle">Empty Potion Bottle</a></td> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Bluegill+Mushroom" target=""><img src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/bluegillMushroom.png" alt="" width="25" height="25">Bluegill Mushroom</a></td> 
		   </tr>
		   
		   <tr> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Minor+Resist+All+Potion"><img style="width: 25px; height: 25px;" title="Minor Resist All Potion" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/minor_resist_all_potion.webp" alt="Minor Resist All Potion" width="25" height="25">Minor Resist All Potion</a></td> 
			<td>15% resistance to all elements for 3 turns</td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img style="width: 25px; height: 25px;" title="emptyBottle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="emptyBottle" width="25" height="25"></a> <a class="wiki_link" title="Empty Potion Bottle" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle">Empty Potion Bottle</a></td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Trumpet+Of+Death"><img style="width: 25px; height: 25px;" title="Trumpet Of Death" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/trumpet_of_death.webp" alt="Trumpet Of Death" width="25" height="25">Trumpet Of Death</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Invisibility+Potion"><img style="width: 25px; height: 25px;" title="Invisibility Potion" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/invisibility_potion.webp" alt="Invisibility Potion" width="25" height="25">Invisibility Potion</a></td> 
			<td>Set <a class="wiki_link" title="Invisible" href="https://divinityoriginalsin2.wiki.fextralife.com/Invisible">Invisible</a> for 5 turns</td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img style="width: 25px; height: 25px;" title="emptyBottle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="emptyBottle" width="25" height="25"></a> <a class="wiki_link" title="Empty Potion Bottle" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle">Empty Potion Bottle</a></td> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Chanterelle" target=""><img style="width: 25px; height: 25px;" title="Chanterelle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/chanterelle.webp" alt="Chanterelle" width="25" height="25">Chanterelle</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Potion+of+Nimble+Tumble"><img style="width: 25px; height: 25px;" title="Potion of Nimble Tumble" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/potion_of_nimble_tumble.webp" alt="Potion of Nimble Tumble" width="25" height="25">Potion of Nimble Tumble</a></td> 
			<td>50% <a class="wiki_link" title="Dodging" href="https://divinityoriginalsin2.wiki.fextralife.com/Dodging">Dodging</a> for 2 turns</td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="" width="25" height="25">Empty Potion Bottle</a></td> 
			<td><img style="width: 25px; height: 25px;" title="waterEssenceMedium" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/waterEssenceMedium.webp" alt="waterEssenceMedium" width="25" height="25">any <a class="wiki_link" title="Water Essence" href="https://divinityoriginalsin2.wiki.fextralife.com/Water+Essence">Water Essence</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Potion+of+Strong+Will"><img style="width: 25px; height: 25px;" title="Potion of Strong Will" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/potion_of_strong_will.webp" alt="Potion of Strong Will" width="25" height="25">Potion of Strong Will</a></td> 
			<td> <p>Immunity to: <a class="wiki_link" title="Charmed" href="https://divinityoriginalsin2.wiki.fextralife.com/Charmed">Charmed</a> ♦ <a class="wiki_link" title="Terrified" href="https://divinityoriginalsin2.wiki.fextralife.com/Terrified">Terrified</a> ♦ <a class="wiki_link" title="Silenced" href="https://divinityoriginalsin2.wiki.fextralife.com/Silenced">Silenced</a> ♦ <a class="wiki_link" title="Blinded" href="https://divinityoriginalsin2.wiki.fextralife.com/Blinded">Blinded</a> ♦ <a class="wiki_link" title="Cursed" href="https://divinityoriginalsin2.wiki.fextralife.com/Cursed">Cursed</a> ♦ <a class="wiki_link" title="Taunted" href="https://divinityoriginalsin2.wiki.fextralife.com/Taunted">Taunted</a> ♦ <a class="wiki_link" title="Sleeping" href="https://divinityoriginalsin2.wiki.fextralife.com/Sleeping">Sleeping</a>&nbsp;<br> Duration 4 turn(s)</p> </td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img style="width: 25px; height: 25px;" title="emptyBottle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="emptyBottle" width="25" height="25"></a> <a class="wiki_link" title="Empty Potion Bottle" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle">Empty Potion Bottle</a></td> 
			<td><img style="width: 25px; height: 25px;" title="fireEssenceMedium" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/fireEssenceMedium.webp" alt="fireEssenceMedium" width="25" height="25">any <a class="wiki_link" title="Fire Essence" href="https://divinityoriginalsin2.wiki.fextralife.com/Fire+Essence">Fire Essence</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Stoneskin+Potion"><img style="width: 25px; height: 25px;" title="Stoneskin Potion" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/stoneskin_potion.webp" alt="Stoneskin Potion" width="25" height="25">Stoneskin Potion</a></td> 
			<td> <p>184&nbsp;Physical Armour (+5% per Geomancer level)<br> -50% Movement Speed<br>Immunity to: <a class="wiki_link" title="Burning" href="https://divinityoriginalsin2.wiki.fextralife.com/Burning">Burning</a> ♦ <a class="wiki_link" title="Stunned" href="https://divinityoriginalsin2.wiki.fextralife.com/Stunned">Stunned</a> ♦ <a class="wiki_link" title="Poisoned" href="https://divinityoriginalsin2.wiki.fextralife.com/Poisoned">Poisoned</a> ♦ <a class="wiki_link" title="Bleeding" href="https://divinityoriginalsin2.wiki.fextralife.com/Bleeding">Bleeding</a> ♦ <a class="wiki_link" title="Petrified" href="https://divinityoriginalsin2.wiki.fextralife.com/Petrified">Petrified</a> ♦ <a class="wiki_link" title="Shocked" href="https://divinityoriginalsin2.wiki.fextralife.com/Shocked">Shocked</a>&nbsp; <br>Duration 2 turn(s)</p> </td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img style="width: 25px; height: 25px;" title="emptyBottle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="emptyBottle" width="25" height="25"></a> <a class="wiki_link" title="Empty Potion Bottle" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle">Empty Potion Bottle</a></td> 
			<td><img style="width: 25px; height: 25px;" title="earthEssenceMedium" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/earthEssenceMedium.webp" alt="earthEssenceMedium" width="25" height="25">any <a class="wiki_link" title="Earth Essence" href="https://divinityoriginalsin2.wiki.fextralife.com/Earth+Essence">Earth Essence</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Potion+of+Jellyfish+Skin"><img style="width: 25px; height: 25px;" title="Potion of Jellyfish Skin" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/potion_of_jellyfish_skin.webp" alt="Potion of Jellyfish Skin" width="25" height="25">Potion of Jellyfish Skin</a></td> 
			<td> <p>Reflect 20% of melee damage taken as air damage.<br>Inflict <a class="wiki_link" title="Stunned" href="https://divinityoriginalsin2.wiki.fextralife.com/Stunned">Stunned</a> on contact<br>Duration 3 turn(s)</p> </td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img style="width: 25px; height: 25px;" title="emptyBottle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="emptyBottle" width="25" height="25"></a> <a class="wiki_link" title="Empty Potion Bottle" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle">Empty Potion Bottle</a></td> 
			<td><img style="width: 25px; height: 25px;" title="airEssenceMedium" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/airEssenceMedium.webp" alt="airEssenceMedium" width="25" height="25">any <a class="wiki_link" title="Air Essence" href="https://divinityoriginalsin2.wiki.fextralife.com/Air+Essence">Air Essence</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Minor+Poison+Bottle"><img src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/minorPoison.png" alt="" width="25" height="25">Small Poison Bottle</a></td> 
			<td>53-59 Poison Damage,<br>Set <a class="wiki_link" title="Poisoned" href="https://divinityoriginalsin2.wiki.fextralife.com/Poisoned">Poisoned</a> for 2 turns</td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle"><img style="width: 25px; height: 25px;" title="emptyBottle" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/emptyBottle.png" alt="emptyBottle" width="25" height="25"></a> <a class="wiki_link" title="Empty Potion Bottle" href="https://divinityoriginalsin2.wiki.fextralife.com/Empty+Potion+Bottle">Empty Potion Bottle</a></td> 
			<td> <p><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Fly+Agaric+Mushroom"><img src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/flyAgaric.png" alt="" width="25" height="24">Fly Agaric Mushroom</a><em> or</em><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Barrel+of+Ooze">&nbsp; <img style="width: 25px; height: 25px;" title="oozeBarrel" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/oozeBarrel.webp" alt="oozeBarrel" width="25" height="25">Barrel of Ooze</a></p> </td> 
		   </tr> 

		   <tr> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Alertness+Herbmix"><img style="width: 25px; height: 25px;" title="Alertness Herbmix" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/alertness_herbmix.webp" alt="Alertness Herbmix" width="25" height="25">Alertness Herbmix</a></td> 
			<td>Use in Dreamer Pipe (Black Bull Undertavern)<br><a class="wiki_link" title="Wits" href="https://divinityoriginalsin2.wiki.fextralife.com/Wits">Wits</a> +6, duration 50 turns</td> 
			<td><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Puffball" target=""><img style="width: 25px; height: 25px;" title="Puffball" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/puffball.webp" alt="Puffball" width="25" height="25"></a><a class="wiki_link" title="Puffball" href="https://divinityoriginalsin2.wiki.fextralife.com/Puffball">Puffball</a></td> 
			<td><img style="width: 25px; height: 25px;" title="Drudanae" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/drudanae.webp" alt="Drudanae" width="25" height="25"><a class="wiki_link" title="Drudanae" href="https://divinityoriginalsin2.wiki.fextralife.com/Drudanae">Drudanae</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Potent+Alertness+Herbmix"><img style="width: 25px; height: 25px;" title="Potent Alertness Herbmix" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/potent_alertness_herbmix.webp" alt="Potent Alertness Herbmix" width="25" height="25">Potent Alertness Herbmix</a></td> 
			<td>Use in Dreamer Pipe (Black Bull Undertavern)<br><a class="wiki_link" title="Wits" href="https://divinityoriginalsin2.wiki.fextralife.com/Wits">Wits</a> +8, duration 100 turns</td> 
			<td><img style="width: 25px; height: 25px;" title="Void-Tainted Yellow Ridgeback" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/void-tainted_yellow_ridgeback.webp" alt="Void-Tainted Yellow Ridgeback" width="25" height="25"><a class="wiki_link" title="Void-Tainted Yellow Ridgeback" href="https://divinityoriginalsin2.wiki.fextralife.com/Void-Tainted+Yellow+Ridgeback">Void-Tainted Yellow Ridgeback</a></td> 
			<td><img style="width: 25px; height: 25px;" title="Alertness Herbmix" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/Alertness%2520Herbmix.webp" alt="Alertness Herbmix" width="25" height="25"><a class="wiki_link" title="Alertness Herbmix" href="https://divinityoriginalsin2.wiki.fextralife.com/Alertness+Herbmix">Alertness Herbmix</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Enlightenment+Herbmix"><img style="width: 25px; height: 25px;" title="Enlightenment Herbmix" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/enlightenment_herbmix.webp" alt="Enlightenment Herbmix" width="25" height="25">Enlightenment Herbmix</a></td> 
			<td>Use in Dreamer Pipe (Black Bull Undertavern)&nbsp;<br><a class="wiki_link" title="Intelligence" href="https://divinityoriginalsin2.wiki.fextralife.com/Intelligence">Intelligence</a> +6, duration 50 turns</td> 
			<td><img style="width: 25px; height: 25px;" title="Calocera" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/calocera.webp" alt="Calocera" width="25" height="25"><a class="wiki_link" title="Calocera" href="https://divinityoriginalsin2.wiki.fextralife.com/Calocera">Calocera</a></td> 
			<td><img style="width: 25px; height: 25px;" title="Drudanae" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/drudanae.webp" alt="Drudanae" width="25" height="25"><a class="wiki_link" title="Drudanae" href="https://divinityoriginalsin2.wiki.fextralife.com/Drudanae">Drudanae</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Potent+Enlightenment+Herbmix"><img style="width: 25px; height: 25px;" title="Potent Enlightenment Herbmix" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/potent_enlightenment_herbmix.webp" alt="Potent Enlightenment Herbmix" width="25" height="25">Potent Enlightenment Herbmix</a></td> 
			<td>Use in Dreamer Pipe (Black Bull Undertavern)<br><a class="wiki_link" title="Intelligence" href="https://divinityoriginalsin2.wiki.fextralife.com/Intelligence">Intelligence</a> +8, duration 100 turns</td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Enlightenment+Herbmix"><img style="width: 25px; height: 25px;" title="Enlightenment Herbmix" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/enlightenment_herbmix.webp" alt="Enlightenment Herbmix" width="25" height="25"></a><a class="wiki_link" title="Enlightenment Herbmix" href="https://divinityoriginalsin2.wiki.fextralife.com/Enlightenment+Herbmix">Enlightenment Herbmix</a></td> 
			<td><img style="width: 25px; height: 25px;" title="Void-Tainted Umber Monkfish" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/void-tainted_umber_monkfish.webp" alt="Void-Tainted Umber Monkfish" width="25" height="25"><a class="wiki_link" title="Void-Tainted Umber Monkfish" href="https://divinityoriginalsin2.wiki.fextralife.com/Void-Tainted+Umber+Monkfish">Void-Tainted Umber Monkfish</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Ferocity+Herbmix"><img style="width: 25px; height: 25px;" title="Ferocity Herbmix" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/ferocity_herbmix.webp" alt="Ferocity Herbmix" width="25" height="25">Ferocity Herbmix</a></td> 
			<td>Use in Dreamer Pipe (Black Bull Undertavern)&nbsp;<br>Start <a class="wiki_link" title="AP" href="https://divinityoriginalsin2.wiki.fextralife.com/AP">AP</a>: +2, <a class="wiki_link" title="AP" href="https://divinityoriginalsin2.wiki.fextralife.com/AP">AP</a> recovery: +2, duration 50 turns</td> 
			<td><img style="width: 25px; height: 25px;" title="augmentorLow" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/augmentorLow.png" alt="augmentorLow" width="25" height="25"><a class="wiki_link" title="Augmentor" href="https://divinityoriginalsin2.wiki.fextralife.com/Augmentor">Augmentor</a></td> 
			<td><img style="width: 25px; height: 25px;" title="Drudanae" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/drudanae.webp" alt="Drudanae" width="25" height="25"><a class="wiki_link" title="Drudanae" href="https://divinityoriginalsin2.wiki.fextralife.com/Drudanae">Drudanae</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Potent+Ferocity+Herbmix"><img style="width: 25px; height: 25px;" title="Potent Ferocity Herbmix" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/potent_ferocity_herbmix.webp" alt="Potent Ferocity Herbmix" width="25" height="25">Potent Ferocity Herbmix</a></td> 
			<td>Use in Dreamer Pipe (Black Bull Undertavern) <br>Start <a class="wiki_link" title="AP" href="https://divinityoriginalsin2.wiki.fextralife.com/AP">AP</a>: +2, <a class="wiki_link" title="AP" href="https://divinityoriginalsin2.wiki.fextralife.com/AP">AP</a> recovery: +2, duration 100 turns</td> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Ferocity+Herbmix"><img style="width: 25px; height: 25px;" title="Ferocity Herbmix" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/ferocity_herbmix.webp" alt="Ferocity Herbmix" width="25" height="25"></a><a class="wiki_link" title="Ferocity Herbmix" href="https://divinityoriginalsin2.wiki.fextralife.com/Ferocity+Herbmix">Ferocity Herbmix</a></td> 
			<td><img style="width: 25px; height: 25px;" title="Void-Tainted Crimson Bream" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/void-tainted_crimson_bream.webp" alt="Void-Tainted Crimson Bream" width="25" height="25"><a class="wiki_link" title="Void-Tainted Crimson Bream" href="https://divinityoriginalsin2.wiki.fextralife.com/Void-Tainted+Crimson+Bream">Void-Tainted Crimson Bream</a></td> 
		   </tr> 
		   
		   <tr> 
			<td><a class="wiki_link" href="https://divinityoriginalsin2.wiki.fextralife.com/Courage+Herbmix"><img style="width: 25px; height: 25px;" title="Courage Herbmix" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/courage_herbmix.webp" alt="Courage Herbmix" width="25" height="25">Courage Herbmix</a></td> 
			<td>Use in Dreamer Pipe (Black Bull Undertavern) <br><a class="wiki_link" title="Constitution" href="https://divinityoriginalsin2.wiki.fextralife.com/Constitution">Constitution</a> +8, duration 50 turns</td> 
			<td><img style="width: 25px; height: 25px;" title="Farhangite" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/farhangite.webp" alt="Farhangite" width="25" height="25"><a class="wiki_link" title="Farhangite" href="https://divinityoriginalsin2.wiki.fextralife.com/Farhangite">Farhangite</a></td> 
			<td><img style="width: 25px; height: 25px;" title="Drudanae" src="Recipes%20%20%20Divinity%20Original%20Sin%202%20Wiki_files/drudanae.webp" alt="Drudanae" width="25" height="25"><a class="wiki_link" title="Drudanae" href="https://divinityoriginalsin2.wiki.fextralife.com/Drudanae">Drudanae</a></td> 
		   </tr>
		</tbody> 
		<tfoot></tfoot>
	</table> 
</body>
</html>